<!DOCTYPE html>
<html lang="en">
<head>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>bonjour</h1>
    <form action="/" method="POST" autocomplete="off">
        <label for="q">search here:</label><input type="text" name="q" value="{{q}}">
        <input type="submit" value="search">
        
        <h5>{{reponse}}</h5>
        
    </form>
</body>
</html>